.header {
  height: 80px;
  border-bottom: 1px solid #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 30px;
}
.header_logo img {
  width: 65px;
}
.header_logo h1 {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav_link {
  color: #ffffff;
  transition: 0.5s;
}
.nav_link:hover {
  color: red;
  border-bottom: 2px solid red;
}

.header_green_text {
  color: red;
}
.header_logo_text {
  color: #ffffff;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 35px;
}
.burger {
  display: none;
}
.nav_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 689.9px) {
  .burger {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }

  .nav {
    display: none;
  }

  .burger_mini {
    color: #fff;
  }
  .nav_menu--mobile {
    position: absolute;
    width: 100px;
    padding: 15px;
    border-radius: 10px;
    background: #2c212c;
    top: 80px;
    right: 15px;
    z-index: 9999;
    margin: 10px 0;
    font-size: 20px;
    flex-direction: column;
  }
  .nav_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
}
