.header {
  height: 80px;
  border-bottom: 1px solid #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 30px;
}
.header_logo img {
  width: 65px;
}
.header_logo h1 {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}
.header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav_link {
  color: #ffffff;
  transition: 0.5s;
}
.nav_link:hover {
  color: red;
  border-bottom: 2px solid red;
}

.header_green_text {
  color: red;
}
.header_logo_text {
  color: #ffffff;
}
.nav_menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

@media screen and (max-width: 689.9px) {
  .burger {
    display: block;
    position: relative;
    width: 50px;
    height: 58px;
    cursor: pointer;
  }

  .burger-icon {
    width: 30px;
    height: 20px;
    position: relative;
    transition: transform 0.4s ease;
  }

  .line {
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    margin: 6px auto;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .burger.active .line:nth-child(1),
  .burger.active .line:nth-child(3) {
    transform: rotate(45deg);
  }

  /* Скрытие второй линии при активации бургер-меню */
  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  /* Позиционирование первой и третьей линий после анимации */
  .burger.active .line:nth-child(1) {
    transform-origin: 5px 5px;
  }

  .burger.active .line:nth-child(3) {
    transform-origin: 5px 15px;
  }

  .nav {
    display: none;
    position: absolute;
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background: linear-gradient(-150deg, rgb(64, 158, 255), rgb(63, 128, 193));
    top: 80px;
    right: 15px;
  }
  .nav_menu--mobile {
    flex-direction: column;
  }
  .color {
    color: #ffffff;
  }
  .nav_link::before {
    background-color: #fff;
  }
}
