.search_movies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.search_select {
  padding: 12px 8px;
  padding-right: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.btn {
  padding: 13.3px 12px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  background-color: orange;
  color: #fff;
  border: 1px #000 solid;
  transition: 0.5s;
}
.btn:hover {
  background-color: rgb(171, 111, 0);
}
.search_item img {
  margin: 10px;
  border-radius: 15px;
  border: 1px #fff solid;
  height: 250px;
  object-fit: cover;
}
.search_item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.search_data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.loader {
  margin-top: 20px;
  width: 50px;
  height: 250px;
  background: rgba(255, 255, 255, 0.599);
  backdrop-filter: blur(5px);
  border-radius: 10px;
}
.search_loader {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
