* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #fff;
}
body {
  background-color: #100e19;
}
li {
  list-style: none;
}
[class*="container"] {
  max-width: 1200px;
  margin: 0 auto;
}
.main_slider-box {
  width: 100%;
  height: 500px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
}
.slider_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider_box {
  position: relative;
}
.slide_content {
  width: 100%;
  height: 100%;
  position: absolute;

  z-index: 2;
  top: 0;
  left: 0;
}
.slide_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  padding: 20px;
  padding-top: 350px;
}
.button {
  font-size: 15px;
  padding: 8px 17px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  border: 2px solid orange;
  background: transparent;
  transition: 0.3s;
}

.button:hover {
  background-color: rgb(255, 132, 0);
  border: none;
}
.slide_calendar {
  display: flex;
  gap: 5px;
}

.rated_slides {
  margin-top: 20px;
  width: 10px;
  object-fit: cover;
}
.rated_slides img:hover {
  filter: brightness(30%);
}
.rated_slides img {
  transform: filter 0.5s;
  border-radius: 20px;
  width: 200px;
}
.top_rated {
  font-size: 2rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #ffffff;
  margin-top: 40px;
}

.top_rated-img-mobile {
  display: none;
}
.main_slider-box-mobile {
  display: none;
}
@media screen and (max-width: 689.9px) {
  .top_rated-img-mobile {
    display: block;
  }
  .rated_slides_mobile {
    margin-top: 20px;
    object-fit: cover;
  }
  .rated_slides_mobile img:hover {
    filter: brightness(30%);
  }
  .rated_slides_mobile img {
    transform: filter 0.5s;
    border-radius: 20px;
    border: 1px solid #fff;
    width: 200px;
  }
  .top_rated-img {
    display: none;
  }
  .main_slider-box {
    display: none;
  }
  .main_slider-box-mobile {
    display: block;
  }
  .slider_img-mobile {
    width: 97%;
    border-radius: 15px;
    border: 1px solid #ffffff;
    position: relative;
  }
  .slide_content_mobile {
    bottom: 0;
    position: absolute;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .button_mobile {
    font-size: 15px;
    padding: 8px 17px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    background-color: RGB(243, 7, 69);
    border: none;
    transition: 0.2s;
  }
  .button_mobile:hover {
    background-color: #ee255b;
  }
}
